body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2d6774;
}

.borderzone {
  width: 800px;
  height: 800px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center;   /* Vertically center content */
}


/* #zone1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: none;
  border: 1px solid yellow;
} */
#zone3 {
  width: 600px;
  height: 600px;
  border-color: rgba(0, 255, 0, 0.664);
}
#zone2 {
  width: 400px;
  height: 400px;
  border-color: rgba(0, 255, 0, 0.349);
}
#zone1 {
  width: 200px;
  height: 200px;
  border-color: rgba(0, 255, 0, 0.11);
}

.zone {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; 
  border-radius: 50%;
  background-color: none;
  border-width: 4px;
  border-style:  solid;
}


.spinning-line{
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 400px;
  background-color: rgba(0, 255, 0, 0.664);
  border-radius: 50%;
  z-index: 2;
  transform: translateX(-50%);
  transform-origin: bottom center;
  animation: spinLine 5s linear infinite, pixelFade 5s infinite;
  box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.637), -5px 0 10px 2px rgba(0, 255, 0, 0.637), -15px -10px 10px 2px rgba(0, 255, 0, 0.288);
}


@keyframes spinLine {
  0% {
    transform: translateX(-50%) rotate(0deg);
    /* box-shadow: 0 0 5px rgba(0, 255, 0, 0.637), 0 0 20px rgba(0, 255, 0, 0.637), 0 0 40px rgba(0, 255, 0, 0.637); */
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
    /* box-shadow: 0 0 5px rgba(0, 255, 0, 0.637), 0 0 20px rgba(0, 255, 0, 0.637), 0 0 40px rgba(0, 255, 0, 0.637); */
  }
}

.blinking-point {
  width: 20px; /* Adjust the size as needed */
  height: 20px;
  background-color: rgba(0, 255, 0, 0.637); /* Set the border color for the faded shape */
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translateX(-50%); /* Center it horizontally */
  animation: blinkPoint 1s linear infinite;
  z-index: 3;
}

@keyframes growCircle {
  0% {
    transform: scale(0.01); /* Start with a scale of 1 (normal size) */
  }
  50%{
    opacity: 1;
  }
  100% {
    transform: scale(1); /* Grow to double the size */
    opacity: 0;
  }
}

@keyframes blinkPoint {
  0% {
    opacity: 0;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.637), 0 0 20px rgba(0, 255, 0, 0.637), 0 0 40px rgba(0, 255, 0, 0.637);
  } 50% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.637), 0 0 30px rgba(0, 255, 0, 0.637), 0 0 60px rgba(0, 255, 0, 0.637); /* Increase the glow */
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.637), 0 0 20px rgba(0, 255, 0, 0.637), 0 0 40px rgba(0, 255, 0, 0.637);
    opacity: 1;
  }
}